<%= image_tag("logo.png", :alt => "Application Exemple", :class => "round") %>
        <nav class="round">
          <ul>
            <li><%= link_to "Accueil", root_path %></li>
            <li><%= link_to "Aide", help_path %></li>
            <li><%= link_to "Inscription", '#' %></li>
          </ul>
        </nav>